#root {
  width: 95vw;
  height: 85vh;
  background-color: #324b4b;
  text-align: center;
}

.title-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  background-color: #3ec7c7;
  width: 50%;
}
